@import "~flexboxgrid"
@import "~normalize.css"
.header
  padding: 289px 0 131px
  background: url('/assets/img/header-bg.png') center center no-repeat;
  background-size: cover;

.row
  width: 1170px
  margin: 0 auto
  background-color: darkgray

.red
  background-color: tomato
