mixin footer()
  .row.banner
    .col-xs-offset-2.col-xs-2
      .box охват россия
    .col-xs-2
      .box экономия 70%
    .col-xs-2
      .box качество 100%
    .col-xs-2
      .box гарантия 365 дней

  footer.row
    .col-xs-offset-1.col-xs-2
      .box @vladimir 2016
    .col-xs-2
      .box Телефон: 8 900 348 35 53
    .col-xs-offset-2.col-xs-2
      .box Skype: svezha42
    .col-xs-2
      .box дизайн сайта webme.pro

