mixin footer()
  .banner
    .row
      .col-xs-offset-2.col-xs-2
        .center-xs
          img(src="/assets/img/russia.png" alt="охват россия").banner__icon
      .col-xs-2
        .center-xs
          img(src="/assets/img/economy.png" alt="экономия 70%").banner__icon
      .col-xs-2
        .center-xs
          img(src="/assets/img/quality.png" alt="качество 100%").banner__icon
      .col-xs-2
        .center-xs
          img(src="/assets/img/garanty.png" alt="гарантия 365 дней").banner__icon

  footer.footer
    .row
      .col-xs-offset-2.col-xs-2
        .center-xs
          .box © Vladimir 2016
      .col-xs-2
        .center-xs
          .box Телефон: 8 900 348 35 53
      .col-xs-2
        .center-xs
          .box Skype: svezha42
      .col-xs-2
        .center-xs
          .box Дизайн сайта: webme.pro

