.banner
  background: url('/assets/img/banner-bg.png') center no-repeat;
  padding: 60px 0
  min-width: 1170px

  &__icon
    width: 100px
    height: 100px

.footer
  min-width: 1170px

  background-color: #000
  color: #fff;
