.show
    margin-bottom: 61px

  .row
    width: 1170px
    margin: 0 auto

  .key
    margin-top: 61px

    &__empty
      margin-top: 61px
      &-header
        font-size: 14px
        margin-bottom: 32px
        font-weight: bold
      &-text
        font-size: 12px
        margin-bottom: 20px

&-header
  &__image
    width: 100%

    &-wrapper
      // hilight
      background-color: tomato

      //width: 370px
      //height: 165px
      width: 100%

      overflow: hidden
