key-row-line-height = 20px
.show
  width: 1170px
  margin: 0 auto
  margin-bottom: 61px

  .key
    margin-top: 61px

    &__name
      font-size: 14px
      font-weight: bold
      //margin-bottom: 32px
      margin-bottom: 20px

    &__description
      font-size: 12px
      //margin-bottom: 20px
      margin-bottom: 28px
      line-height: key-row-line-height

    &__caption
      font-size: 12px
      line-height: key-row-line-height

    &__value
      font-size: 12px
      font-weight: bold
      text-align: right;
      line-height: key-row-line-height

    &__price-total
      border-top: 1px dashed #000

    &__result-row
      margin-top: 23px

    &__buy
      width: 100%
      border: none
      color: #fff
      background-color: #000
      outline none

      &:hover
        color: gray

      &:active
        color: #fff

    &__empty
      margin-top: 61px

      &-header
        font-size: 14px
        margin-bottom: 32px
        font-weight: bold

      &-text
        font-size: 12px
        margin-bottom: 20px

      &-arrow
        padding-top: 15px

    &-header
      &__image
        width: 100%

        &-wrapper
          // hilight
          background-color: tomato

          //width: 370px
          //height: 165px
          width: 100%

          overflow: hidden

  .buy
    margin-top: 61px

    &__header
      font-weight: bold
      text-align: center
      margin-bottom: 32px

    &__name
      width: 370px
      margin-bottom: 30px
      outline: none

    &__phone
      width: 170px
      margin-bottom: 30px
      outline: none

    &__comment
      width: 570px
      resize none
      outline: none
      height: 63px

    &__order
      width: 100%
      border: none
      color: #fff
      background-color: #000
      outline none

      &:hover
        color: gray

      &:active
        color: #fff
