key-row-line-height = 20px
.show
  width: 1170px
  margin: 0 auto
  margin-bottom: 61px

  .key
    margin-top: 61px

    &__name
      font-size: 14px
      font-weight: bold
      //margin-bottom: 32px
      margin-bottom: 20px

    &__description
      font-size: 12px
      //margin-bottom: 20px
      margin-bottom: 28px
      line-height: key-row-line-height

    &__caption
      font-size: 12px
      line-height: key-row-line-height

    &__value
      font-size: 12px
      font-weight: bold
      text-align: right;
      line-height: key-row-line-height

    &__price-total
      border-top: 1px dashed #000
      padding-top: 4px
      height: 30px

    &__result-row
      margin-top: 23px

    &__buy
      width: 166px
      height: 30px
      margin-left: 13px
      margin-bottom: 4px

      border: none
      color: #fff
      background-color: #000
      outline none

      &:hover
        color: gray

      &:active
        color: #fff

    &__empty
      margin-top: 61px

      &-header
        font-size: 14px
        margin-bottom: 32px
        font-weight: bold

      &-text
        font-size: 12px
        margin-bottom: 20px

      &-arrow
        padding-top: 15px

    //&-header
    &__image
      width: 100%

      &-wrapper
        width: 300px
        //height: 165px
        //width: 100%

        overflow: hidden

  .buy
    margin-top: 61px

    &__header
      font-weight: bold
      text-align: center
      margin-bottom: 32px

    &__name
      padding: 5px
      font-size: 14px
      width: 356px
      margin-bottom: 30px
      outline: none

    &__phone
      padding: 5px
      font-size: 14px
      width: 156px
      margin-bottom: 30px
      outline: none
      margin-left: 5px

    &__comment
      width: 561px
      height: 81px

      padding-left: 5px
      font-size: 14px
      resize none
      outline: none

    &__order
      width: 166px
      height: 30px
      margin-left:8px
      margin-bottom: 4px
      border: none
      color: #fff
      background-color: #000
      outline none

      &:hover
        color: gray

      &:active
        color: #fff
